<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="directory.user.settings" value="%APPDATA%\codebox\user"/>
        <add key="directory.settings" value="samples"/>
        <add key="directory.theme" value="samples"/>
        <add key="directory.commands" value="samples"/>
        <add key="directory.grammar" value="grammars"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
