---
---

@import "jekyll-theme-cayman";
body {
  background-color: #1E1E1E !important;
  color: #DCDCDC;
}
.page-header {
  padding: 0px !important;
  background-color: #2D2D30 !important;
  border-bottom: solid 0.2em #141414 !important;
  background-image: none;
  padding-left: 1em !important;
  text-align:left !important;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #569cd6 !important;
}
.site-footer {
  display: none;
}
.project-name {
  font-size: 4rem !important;
  color: #44c7ae !important;
  font-weight: normal !important;
  display: inline !important;
}
.btn {
  display: inline !important;
  float: right !important;
  margin-right: 1rem !important;
  padding: 0.75rem 1rem;
  margin-top: 1.5em !important;
}
.project-tagline {
  display: inline !important;
  vertical-align: super !important;
  padding-left: 1em !important;
}
.highlighter-rouge {
  background-color: #2D2D30 !important;
  color: #8CDCDB !important;
}
.highlight {
  background-color: #2D2D30 !important;
}
.main-content pre {
  border-color: #2D2D30 !important; 
}
.main-content pre > code {
  color: #8CDCDB !important;
  border-radius: 4.8px;
}
