<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="directory.packages" value="{slot}/packages"/>
        <add key="directory.user.settings" value="%APPDATA%/slot/user"/>
        <add key="directory.user.state" value="%APPDATA%/slot/state"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
